body{
  background-image: url("wp4430530.webp");
  background-size: cover;
  height: 100vh;
}
  div{
    border: solid;
    border: 1px solid black;
    background-color: rgb(121, 187, 203);
    opacity: .6;
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 40px;
    text-align: center;
    align-items: center;
    margin-right: 60%;
    margin-left: 10%;
    position: relative;
    left: 300px;
    border-radius: 10px;
}           